.top {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    background: lightblue;
}
.topButton {
    margin-left: auto;
    height: 40px;
}
p {
    margin: 0 0 0 0;
}
.mid {
    display: flex;
}
.midLeft {
    background: lightgreen;
    width: 50%;
}
.midRight {
    background: lightslategray;
    width: 50%;
}
.bot {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 20px 0 20px;
    background: lightcoral;
}
